section.quality-control(data-show)
	.container
		.quality-control__content
			.quality-control__description
				if pageClass === "franchising-page"
					h2.quality-control__title.section__title Остались вопросы?
				else
					h2.quality-control__title.section__title Служба контроля качества
				p.quality-control__text Укажите ваши данные и наш специалист перезвонит Вам в течении 15 минут.
				+icon("icon-blue-mask", "quality-control__blue-mask", "172", "68")
				+icon("icon-yellow-mask", "quality-control__yellow-mask", "84", "33")
			form.quality-control__form(action="#" method="POST" autocomplete="off" data-validate data-show)
				.quality-control__box.quality-control__box-anim(data-show)
					input.quality-control__input(type="text" name="youName" required)
					label.quality-control__label Ваше имя
				.quality-control__box.quality-control__box-anim(data-show)
					input.quality-control__input(type="tel" name="youPhone" required)
					label.quality-control__label Ваш номер телефона
				.quality-control__box.quality-control__box-anim(data-show)
					textarea.quality-control__input.quality-control__input--textarea(name="youText" required)
					label.quality-control__label Комментарий
				+button-submit("#", "Отправить", true).quality-control__button.quality-control__button-anim
