section.holidays-activity
	.container
		.holidays-activity__content
			.holidays-activity__inner
				+icon("icon-bow-yellow", "holidays-activity__icon", "68", "50")
				h2.holidays-activity__title.font-h2 Тематическое мероприятие для вас
				p.holidays-activity__text Мы готовы организовать любой тематическое или корпоративное мероприятие индивидуально по вашим критериям.
				p.holidays-activity__text Оставьте заявку и наш менеджер свяжется с вами в ближайшее время.
				a.holidays-activity__link.button(href="#") Оставить заявку
			.holidays-activity__images
				picture.holidays-activity__picture
					source(media="(min-width: 1440px)" srcset="static/images/content/holidays/holiday-activity-large.png")
					source(media="(min-width: 1024px)" srcset="static/images/content/holidays/holiday-activity-desktop.png")
					source(media="(min-width: 768px)" srcset="static/images/content/holidays/holiday-activity-tablet.png")
					img.holidays-activity__img(src="static/images/content/holidays/holiday-activity-mobile.png" alt="Картинка девочки" width="360" height="333")

