section.holidays-hero
	+icon("icon-yellow-shape", "holidays-hero__shape")
	.container
		.holidays-hero__content
			+icon("icon-salut-small", "holidays-hero__salut-small", "76", "93")
			+icon("icon-salut-big", "holidays-hero__salut-big", "123", "150")
			h1.holidays-hero__title.font-h1.section__title Праздники в Fun City
			p.holidays-hero__text Мы организуем для вас лучший праздник! FUN CITY – это уникальное пространство для развлечений всей семьей! Тысячи квадратных метров впечатлений!
