section.calculator-rooms
	.container
		.calculator-roome__content
			h2.calculator-rooms__title.font-h3 Банкетные комнаты
			ul.calculator-rooms__list
				include items/item-1
				include items/item-2
				include items/item-3
				include items/item-4
				include items/item-5
				include items/item-6
			.calculator-rooms__wrapper
				p.calculator-rooms__description Время аренды комнаты составляет 2.5 часа, мы предлагаем вам после окончания торжественной части праздника переместиться всем вместе в игровую зону и весело провести время. Если Ваш заказ на сумму более 35 000 рублей, то мы сможем продлить время пребывания в комнате до 5 часов. Продление времени аренды комнаты возможно только по предварительному заказу и при наличии свободных мест. Для продления свяжитесь, пожалуйста, с нами по телефону +7 (495) 120 40 68. Обращаем Ваше внимание, что по правилам парка вход со своей едой и напитками запрещен. На следующих шагах заказа Вы сможете выбрать еду и напитки из меню нашего семейного кафе.
				.calculator-rooms__gift
					+icon("icon-rope-big", "calculator-rooms__gift-rope", "140", "44")
					h3.calculator-rooms__gift-title.font-h4 Банкетная комната в&nbsp;подарок!
					p.calculator-rooms__gift-text Банкетная комната бесплатно при заказе праздника на 8+ детей!
