.header-contacts
	ul.header-contacts__list
		li.header-contacts__item
			a.header-contacts__link.header-contacts__link__bold(href="#")
				+icon('icon-location', 'header-contacts__icon', '15', '18')
				span Санкт-Петербург, ТЦ Континент
				+icon('icon-arrow', 'header-contacts__icon-arrow', '7', '5')
		li.header-contacts__item
			a.header-contacts__link(href="tel:+79312609788")
				+icon('icon-phone', 'header-contacts__icon', '15', '18')
				span +7 (931) 260-97-88 Администратор
		li.header-contacts__item
			a.header-contacts__link(href="tel:+79312609788")
				+icon('icon-phone', 'header-contacts__icon', '15', '18')
				span +7 (931) 260-97-88  Организация праздника
