.ball-text {
  overflow: hidden;
  @media screen and (min-width: $tablet-size) {
    overflow: inherit;
  }
  &__content {
    padding: 0 0 445px 0;
    @media screen and (min-width: $tablet-size) {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      padding: 0;
    }
  }
  &__images {
    bottom: 5px;
    height: 400px;
    left: 20px;
    position: absolute;
    width: 400px;
    @media screen and (min-width: 440px) {
      left: unset;
      right: 20px;
    }
    @media screen and (min-width: $tablet-size) {
      bottom: unset;
      flex: 0 0 540px;
      height: 540px;
      left: unset;
      position: relative;
      right: unset;
      width: 540px;
    }
    @media screen and (min-width: $desktop-size) {
      flex: 0 0 800px;
      height: 800px;
      width: 800px;
    }
    @media screen and (min-width: $large-size) {
      flex: 0 0 900px;
      height: 900px;
      width: 900px;
    }
    &::after {
      background-color: rgba(176, 55, 151, .5);
      border-radius: 50%;
      content: "";
      height: 400px;
      left: 0;
      top: 5px;
      position: absolute;
      width: 400px;
      z-index: 1;
      @media screen and (min-width: $tablet-size) {
        height: 540px;
        top: 15px;
        width: 540px;
      }
      @media screen and (min-width: $desktop-size) {
        height: 800px;
        width: 800px;
      }
      @media screen and (min-width: $large-size) {
        height: 900px;
        top: 20px;
        width: 900px;
      }
    }
  }
  &__images-wrapper {
    border-radius: 50%;
    overflow: hidden;
  }
  &__images-video-link {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  &__picture {
    display: block;
    position: relative;
    z-index: 2;
    &::after {
      background: linear-gradient(180deg, #4b4b4b -1.31%, rgba(75, 75, 75, .3) 100%);
      content: "";
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &__inner {
    @media screen and (min-width: $tablet-size) {
      flex: 0 0 48%;
      order: 1;
      margin: 0 0 0 30px;
      width: 48%;
    }
    @media screen and (min-width: $desktop-size) {
      flex: 0 0 40%;
      margin: 0 0 0 40px;
      width: 40%;
    }
  }
  &__text {
    color: $text-color;
    font-size: 16px;
    line-height: 22px;
    &:not(:last-of-type) {
      margin: 0 0 10px 0;
    }
  }
  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0 0;
    @media screen and (min-width: $large-size) {
      margin: 40px 0 0 0;
    }
  }
  &__button {
    padding: 16px 17px;
    @media screen and (min-width: $large-size) {
      padding: 21px 22px;
    }
  }
}
