.tread-slider.swiper
	ul.tread-slider__list.swiper-wrapper
		li.tread-slider__item.swiper-slide
			button.tread-slider__button.tread-slider__button--active(type="button") Банкетное меню
		li.tread-slider__item.swiper-slide
			button.tread-slider__button(type="button") Основное меню
		li.tread-slider__item.swiper-slide
			button.tread-slider__button(type="button") Детское меню
		li.tread-slider__item.swiper-slide
			button.tread-slider__button(type="button") Меню Азии
		li.tread-slider__item.swiper-slide
			button.tread-slider__button(type="button") Барная карта
		li.tread-slider__item.swiper-slide
			button.tread-slider__button(type="button") Праздничные торты
	+slider-button("right")(type="button").slider-nav-button--white.tread-slider__next
