ul.service-list__list.service-slider__content.service-slider__content--active._program-entertainment(data-tabs-group="entertainment")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/program-1.jpg" width="320" height="320" alt="Картинка развлекательной программы")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Без развлекательной программы
					p.service-list__description
						span.service-list__price 0 ₽
				.service-list__bottom
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="program-1" id="program-1")
						label.service-list__label-checkbox(for="program-1")
							span.service-list__label-text
								+icon("icon-plus", "service-list__label-icon service-list__label-icon--plus", "12", "12")
								+icon("icon-minus", "service-list__label-icon service-list__label-icon--minus", "12", "12")
			a.service-list__shadow-link._popup-link(href="#")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/program-2.jpg" width="320" height="320" alt="Картинка развлекательной программы")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Программа с аниматором
					p.service-list__description
						span.service-list__price 3 800 ₽/час
				.service-list__bottom
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="program-2" id="program-2")
						label.service-list__label-checkbox(for="program-2")
							span.service-list__label-text
								+icon("icon-plus", "service-list__label-icon service-list__label-icon--plus", "12", "12")
								+icon("icon-minus", "service-list__label-icon service-list__label-icon--minus", "12", "12")
			a.service-list__shadow-link._popup-link(href="#animatrors-party")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/program-1.jpg" width="320" height="320" alt="Картинка развлекательной программы")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Квест “YouTube-вечеринка” (6+)
					p.service-list__description
						span.service-list__price 3 000 ₽/час
				.service-list__bottom
					.service-list__input-box
						input.service-list__checkbox._popup-check(type="checkbox" name="program-3" id="program-3" data-popup-check="youtube")
						label.service-list__label-checkbox(for="program-3")
							span.service-list__label-text
								+icon("icon-plus", "service-list__label-icon service-list__label-icon--plus", "12", "12")
								+icon("icon-minus", "service-list__label-icon service-list__label-icon--minus", "12", "12")
			a.service-list__shadow-link._popup-link(href="#youtube-party")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/program-2.jpg" width="320" height="320" alt="Картинка развлекательной программы")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Программа с аниматором
					p.service-list__description
						span.service-list__price 3 800 ₽/час
				.service-list__bottom
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="program-4" id="program-4")
						label.service-list__label-checkbox(for="program-4")
							span.service-list__label-text
								+icon("icon-plus", "service-list__label-icon service-list__label-icon--plus", "12", "12")
								+icon("icon-minus", "service-list__label-icon service-list__label-icon--minus", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/program-2.jpg" width="320" height="320" alt="Картинка развлекательной программы")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Программа с аниматором
					p.service-list__description
						span.service-list__price 3 800 ₽/час
				.service-list__bottom
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="program-5" id="program-5")
						label.service-list__label-checkbox(for="program-5")
							span.service-list__label-text
								+icon("icon-plus", "service-list__label-icon service-list__label-icon--plus", "12", "12")
								+icon("icon-minus", "service-list__label-icon service-list__label-icon--minus", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/program-1.jpg" width="320" height="320" alt="Картинка развлекательной программы")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Квест “YouTube-вечеринка” (6+)
					p.service-list__description
						span.service-list__price 3 000 ₽/час
				.service-list__bottom
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="program-6" id="program-6")
						label.service-list__label-checkbox(for="program-6")
							span.service-list__label-text
								+icon("icon-plus", "service-list__label-icon service-list__label-icon--plus", "12", "12")
								+icon("icon-minus", "service-list__label-icon service-list__label-icon--minus", "12", "12")
			a.service-list__shadow-link._popup-link(href="#")
