ul.service-list__list.service-slider__content.service-slider__content--active._program-entertainment
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-1.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезар
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-1") Блюдо-1
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-1" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
