ul.service-list__list.service-list__list--animators.service-slider__content._animators-boys(data-tabs-group="animators")
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/boys.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-boys-1" id="animator-boys-1")
						label.service-list__label-checkbox(for="animator-boys-1")
				.service-list__bottom
					h3.service-list__title.font-h4 Кэтибой
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/boys.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-boys-2" id="animator-boys-2")
						label.service-list__label-checkbox(for="animator-boys-2")
				.service-list__bottom
					h3.service-list__title.font-h4 Кэтибой
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/boys.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-boys-3" id="animator-boys-3")
						label.service-list__label-checkbox(for="animator-boys-3")
				.service-list__bottom
					h3.service-list__title.font-h4 Кэтибой
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/boys.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-boys-4" id="animator-boys-4")
						label.service-list__label-checkbox(for="animator-boys-4")
				.service-list__bottom
					h3.service-list__title.font-h4 Кэтибой
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/boys.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-boys-5" id="animator-boys-5")
						label.service-list__label-checkbox(for="animator-boys-5")
				.service-list__bottom
					h3.service-list__title.font-h4 Кэтибой
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/boys.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-boys-6" id="animator-boys-6")
						label.service-list__label-checkbox(for="animator-boys-6")
				.service-list__bottom
					h3.service-list__title.font-h4 Кэтибой
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/boys.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-boys-7" id="animator-boys-7")
						label.service-list__label-checkbox(for="animator-boys-7")
				.service-list__bottom
					h3.service-list__title.font-h4 Кэтибой
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/boys.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-boys-8" id="animator-boys-8")
						label.service-list__label-checkbox(for="animator-boys-8")
				.service-list__bottom
					h3.service-list__title.font-h4 Кэтибой
