ul.service-list__list.service-list__list--animators.service-slider__content.service-slider__content--active._animators-girls(data-tabs-group="animators")
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/girls.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-girls-1" id="animator-girls-1")
						label.service-list__label-checkbox(for="animator-girls-1")
				.service-list__bottom
					h3.service-list__title.font-h4 Любава
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/girls.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-girls-2" id="animator-girls-2")
						label.service-list__label-checkbox(for="animator-girls-2")
				.service-list__bottom
					h3.service-list__title.font-h4 Любава
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/girls.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-girls-3" id="animator-girls-3")
						label.service-list__label-checkbox(for="animator-girls-3")
				.service-list__bottom
					h3.service-list__title.font-h4 Любава
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/girls.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-girls-4" id="animator-girls-4")
						label.service-list__label-checkbox(for="animator-girls-4")
				.service-list__bottom
					h3.service-list__title.font-h4 Любава
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/girls.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-girls-5" id="animator-girls-5")
						label.service-list__label-checkbox(for="animator-girls-5")
				.service-list__bottom
					h3.service-list__title.font-h4 Любава
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/girls.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-girls-6" id="animator-girls-6")
						label.service-list__label-checkbox(for="animator-girls-6")
				.service-list__bottom
					h3.service-list__title.font-h4 Любава
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/girls.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-girls-7" id="animator-girls-7")
						label.service-list__label-checkbox(for="animator-girls-7")
				.service-list__bottom
					h3.service-list__title.font-h4 Любава
	li.service-list__item
		.service-list__inner.service-list__inner--animators
			picture.service-list__picture.service-list__picture--animators
				img.service-list__img(src="static/images/content/popup/animators/girls.jpg" width="320" height="320" alt="Картинка аниматора")
			.service-list__box
				.service-list__top
					.service-list__input-box
						input.service-list__checkbox(type="checkbox" name="animator-girls-8" id="animator-girls-8")
						label.service-list__label-checkbox(for="animator-girls-8")
				.service-list__bottom
					h3.service-list__title.font-h4 Любава

