section.calculator-steps
	.container
		.calculator-steps__wrapper.swiper
			ul.calculator-steps__list.swiper-wrapper
				li.calculator-steps__item.calculator-steps__item--first.swiper-slide
					.calculator-steps__inner
						+icon("icon-step-1-active", "calculator-steps__step-1 calculator-steps__step-1--active", "154", "100")
						.calculator-steps__box
							h2.calculator-steps__number.calculator-steps__number--active 01
							span.calculator-steps__text.calculator-steps__text--active Место, время#[br] и&nbsp;участники
				li.calculator-steps__item.calculator-steps__item--second.swiper-slide
					.calculator-steps__inner
						+icon("icon-step-2", "calculator-steps__step-2", "135", "100")
						.calculator-steps__box
							h2.calculator-steps__number 02
							span.calculator-steps__text Угощения#[br] ресторана
				li.calculator-steps__item.calculator-steps__item--third.swiper-slide
					.calculator-steps__inner
						+icon("icon-step-3", "calculator-steps__step-3", "170", "100")
						.calculator-steps__box
							h2.calculator-steps__number 03
							span.calculator-steps__text Развлекательные#[br] и&nbsp;шоу-программы
