.header-contacts {
  @media screen and (min-width: $tablet-size) {
    display: inline-block;
    margin: 0 0 0 auto;
  }
  @media screen and (min-width: $desktop-size) {
    display: flex;
    margin: 0;
  }
  &__list {
    margin: 0 0 30px 0;
    @media screen and (min-width: $desktop-size) {
      margin: 0;
    }
  }
  &__item {
    display: flex;
    &:not(:last-child) {
      margin: 0 0 8px 0;
    }
  }
  &__link {
    align-items: center;
    color: $text-color;
    font-size: 14px;
    display: inline-flex;
    line-height: 20px;
    position: relative;
    text-decoration: none;
    transition: all ease-out .15s;
    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      line-height: 22px;
    }
    @media screen and (min-width: $desktop-size) {
      font-size: 14px;
      line-height: 18px;
      &:hover {
        opacity: .7;
      }
    }
    &--bold {
      font-weight: 600;
      padding: 0 13px 0 0;
    }
  }
  &__icon {
    fill: $purple-color;
    margin: 0 10px 0 0;
  }
  &__icon-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
