section.prices
	.container
		.prices__content
			h1.prices__title.section__title.font-h1 Цены
			.prices__inner
				.prices__price
					h2.prices__heading.font-h3 Посещение ресто-парка
					ul.prices__list
						li.prices__item
							span.prices__service.prices__service--bold Входной билет
							span.prices__service.prices__service--bold До 20:00
							span.prices__service.prices__service--bold После 20:00
						li.prices__item
							span.prices__service В праздники и выходные
							span.prices__service 950
							span.prices__service 475
						li.prices__item
							span.prices__service В будние дни
							span.prices__service 500
							span.prices__service 250
				.prices__operating-mode
					+icon("icon-rope", "prices__operating-icon", "140", "64")
					h3.prices__operating-title.font-h4 Режим работы ресто-парка
					span.prices__operating-time Ежедневно
					span.prices__operating-time с 10:00 до 22:00
			.prices__descriptions
				.prices__descriptions-col
					h3.prices__descriptions-title.font-h4 Уважаемые гости!
					p.prices__descriptions-text Входной билет (браслет) предоставляет доступ в игровую зону ресторана в день приобретения, в часы работы ресторана.
					p.prices__descriptions-text Подробную информацию о действующих аттракционах уточняйте, пожалуйста у администратора.
					p.prices__descriptions-text Сопровождающим вход бесплатный!
				.prices__descriptions-col
					h3.prices__descriptions-title.font-h4 Обратите внимание!
					p.prices__descriptions-text Бесплатный вход для сопровождающих не дает право пользоваться аттракционами в игровой зоне, для этого необходимо приобрести входной тариф (браслет).
					p.prices__descriptions-text Из соображений безопасности вход на территорию парка со своей едой и напитками запрещен! Один входной тариф (браслет) дает право право единоразово проходить в парк и аннулируется при выходе. Повторный вход возможен после оплаты нового входного тарифа (браслета).


