.franchising-concept
	.container
		.franchising-concept__content
			h2.franchising-concept__title.font-h2 Наша концепция:
			p.franchising-content__text #[span.franchising-content__text--bold Fun City] — это #[span.franchising-content__text--bold 3 направления] на единой площади, где родители наслаждаются авторской кухней в ресторане, а дети любого возраста всегда найдут себе развлечение по душе, более чем на #[span.franchising-content__text--decor 50 видах аттракционов.]
