section.franchising-investment
	+icon("icon-shape-wave-many", "franchising-investment__decor-top")
	+icon("icon-ellipse-bottom", "franchising-investment__decor-bottom")
	.container
		.franchising-investment__content
			h2.franchising-investment__title.font-h2 Инвестиционное предложение
			.franchising-investment__inner
				.franchising-investment__note
					+icon("icon-rope-white", "franchising-investment__note-icon", "140", "44")
					p.franchising-investment__note-text Имея колоссальный опыт в запуске и эффективном управлении парками, мы готовы предложить Вам в формате #[span.franchising-investment__note-text--bold инвестиционного предложения] строительство и управление парком под ключ.
					p.franchising-investment__note-text Мы строим и управляем парком под ключ, полученную прибыль делим в соответствии с условиями.
				.franchising-investment__row
					.franchising-investment__col
						.franchising-investment__dot.franchising-investment__dot--1
							span.franchising-investment__dot-span
						.franchising-investment__dot.franchising-investment__dot--2
							span.franchising-investment__dot-span
						.franchising-investment__dot.franchising-investment__dot--3
							span.franchising-investment__dot-span
						.franchising-investment__dot.franchising-investment__dot--4
							span.franchising-investment__dot-span
						h3.franchising-investment__sub-heading.font-h1 50 на 50
						p.franchising-investment__text Возврат инвестиций - 100% от прибыли компании, далее распределение 50% на 50%.
					.franchising-investment__col.franchising-investment__col--second
						.franchising-investment__dot.franchising-investment__dot--5
							span.franchising-investment__dot-span
						.franchising-investment__dot.franchising-investment__dot--6
							span.franchising-investment__dot-span
						h3.franchising-investment__sub-heading.font-h1 30 на 70
						p.franchising-investment__text Возврат инвестиций из доли постоянной прибыли в проекте на постоянной основе (70 % - инвестору).


