ul.tread-menu__list.tabs-slider__content._menu-main
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-4.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="main-4") Блюдо-4
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="main-4" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-3.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="main-3") Блюдо-3
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="main-3" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-1.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="main-1") Блюдо-1
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="main-1" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")

