ul.tread-menu__list.tabs-slider__content._menu-cake
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-4.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="cake-4") Блюдо-4
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="cake-4" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-1.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="cake-5") Блюдо-5
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="cake-5" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-3.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="cake-3") Блюдо-3
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="cake-3" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-1.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="cake-1") Блюдо-1
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="cake-1" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-2.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="cake-2") Блюдо-2
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="cake-2" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-2.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="cake-6") Блюдо-6
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="cake-6" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-3.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="cake-7") Блюдо-7
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="cake-7" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
	li.tread-menu__item
		.tread-menu__inner
			picture.tread-menu__picture
				img.tread-menu__img(src="static/images/content/calculator/tread-4.jpg" width="320" height="320" alt="Картинка блюда")
			.tread-menu__box
				.tread-menu__top
					h3.tread-menu__title.font-h4 Салат "Цезарь"
					p.tread-menu__description
						span.tread-menu__price 390 ₽
						span.tread-menu__weight 150 гр.
				.tread-menu__bottom
					label.tread-menu__label.visually-hidden(for="cake-8") Блюдо-8
					button.tread-menu__button.button._js-count-minus(type="button")
						+icon("icon-minus", "tread-menu__icon", "12", "2")
					input.tread-menu__number(type="number" id="cake-8" min="1" max="50" value="5" readonly)
					button.tread-menu__button.button._js-count-plus(type="button")
						+icon("icon-plus", "tread-menu__icon", "12", "12")
