ul.service-list__list.service-slider__content.service-slider__content--active._menu-banquet(data-tabs-group="tread")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-1.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезарь"
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-1") Блюдо-1
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-1" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-2.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезарь"
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-2") Блюдо-2
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-2" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-3.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезарь"
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-3") Блюдо-3
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-3" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-4.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезарь"
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-4") Блюдо-4
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-4" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-1.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезарь"
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-5") Блюдо-5
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-5" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-2.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезарь"
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-6") Блюдо-6
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-6" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-3.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезарь"
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-7") Блюдо-7
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-7" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
	li.service-list__item
		.service-list__inner
			picture.service-list__picture
				img.service-list__img(src="static/images/content/calculator/tread-4.jpg" width="320" height="320" alt="Картинка блюда")
			.service-list__box
				.service-list__top
					h3.service-list__title.font-h4 Салат "Цезарь"
					p.service-list__description
						span.service-list__price 390 ₽
						span.service-list__weight 150 гр.
				.service-list__bottom
					label.service-list__label.visually-hidden(for="banquet-8") Блюдо-8
					button.service-list__button.button._js-count-minus(type="button")
						+icon("icon-minus", "service-list__icon", "12", "2")
					input.service-list__number(type="number" id="banquet-8" min="1" max="50" value="5" readonly)
					button.service-list__button.button._js-count-plus(type="button")
						+icon("icon-plus", "service-list__icon", "12", "12")
