.tabs-slider.swiper
	ul.tabs-slider__list.swiper-wrapper
		li.tabs-slider__item.swiper-slide
			a.tabs-slider__button.tabs-slider__button--active(type="button" data-tabs-name="_menu-banquet") Банкетное меню
		li.tabs-slider__item.swiper-slide
			a.tabs-slider__button(type="button" data-tabs-name="_menu-main") Основное меню
		li.tabs-slider__item.swiper-slide
			a.tabs-slider__button(type="button" data-tabs-name="_menu-child") Детское меню
		li.tabs-slider__item.swiper-slide
			a.tabs-slider__button(type="button" data-tabs-name="_menu-asia") Меню Азии
		li.tabs-slider__item.swiper-slide
			a.tabs-slider__button(type="button" data-tabs-name="_menu-bar") Барная карта
		li.tabs-slider__item.swiper-slide
			a.tabs-slider__button(type="button" data-tabs-name="_menu-cake") Праздничные торты
	+slider-button("right")(type="button").slider-nav-button--white.tabs-slider__next
