section.hero
	.hero__slider.swiper
		ul.hero__list.swiper-wrapper
			li.hero__item.swiper-slide
				+icon("icon-shape-hero-bottom", "hero__shape-bottom")
				.hero__wrapper
					.hero__description
						.container
							.hero__inner
								h2.hero__title Банкетное предложение
								p.hero__text Попробуйте наше новое #[span.hero__text--decor банкетное предложение] для вашего праздника!
								+button-link('#', "Подробнее", true).hero__link
					.hero__images
						picture.hero__picture
							source(media="(min-width: 1024px)" srcset="static/images/content/hero-1-desktop.png")
							source(media="(min-width: 768px)" srcset="static/images/content/hero-1-tablet.png")
							img.hero__img(src="static/images/content/hero-1-mobile.png" alt="Картинка банкетного меню" width="360" height="550")
			li.hero__item.swiper-slide
				+icon("icon-shape-hero-bottom", "hero__shape-bottom")
				.hero__wrapper
					//.hero__description
					//	.container
					//		.hero__inner
					//			h2.hero__title Банкетное предложение
					//			p.hero__text Попробуйте наше новое #[span.hero__text--decor банкетное предложение] для вашего праздника!
					//			+button-link('#', "Подробнее", true).hero__link
					.hero__images.hero__images--no-text
						picture.hero__picture.hero__picture--no-text
							source(media="(min-width: 1024px)" srcset="static/images/content/hero-2-desktop.jpg")
							source(media="(min-width: 768px)" srcset="static/images/content/hero-2-tablet.jpg")
							img.hero__img.hero__img--no-text(src="static/images/content/hero-2-mobile.jpg" alt="Картинка банкетного меню" width="360" height="550")
			li.hero__item.swiper-slide
				+icon("icon-shape-hero-bottom", "hero__shape-bottom")
				.hero__wrapper
					.hero__description
						.container
							.hero__inner
								h2.hero__title Банкетное предложение
								p.hero__text Попробуйте наше новое #[span.hero__text--decor банкетное предложение] для вашего праздника!
								+button-link('#', "Подробнее", true).hero__link
					.hero__images
						picture.hero__picture
							source(media="(min-width: 1024px)" srcset="static/images/content/hero-1-desktop.png")
							source(media="(min-width: 768px)" srcset="static/images/content/hero-1-tablet.png")
							img.hero__img(src="static/images/content/hero-1-mobile.png" alt="Картинка банкетного меню" width="360" height="550")
		.hero__bullets
