section.hero
	.hero__slider
		ul.hero__list
			li.hero__item
				.hero__description
					h2.hero__title Банкетное предложение
					p.hero__text Попробуйте наше новое #[span.hero__text--decor банкетное предложение] для вашего праздника!
					a.hero__link(href="#")
						span.hero__link--transparent.button.button--transparent Подробнее
						span.hero__link--button.button
							+icon('icon-arrow-right', 'hero__link--icon', '13', '13')
