section.index-franchise.restaurant-banquet
	+icon("icon-shape-top", "index-franchise__top-shape", "100", "100")
	+icon("icon-shape-yellow-bottom", "index-franchise__bottom-shape", "100", "100")
	.index-franchise__content.restaurant-banquet__content
		.index-franchise__description.restaurant-banquet__description
			.container
				.index-franchise__inner.restaurant-banquet__inner
					.index-franchise__wrapper.restaurant-banquet__wrapper
						h2.index-franchise__title.section__title.restaurant-banquet__title Банкетное предложение
						.index-franchise__paragraph.restaurant-banquet__paragraph
							p.index-franchise__text.restaurant-banquet__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста.
							p.index-franchise__text.restaurant-banquet__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста.
		.index-franchise__image.restaurant-banquet__image
			picture.index-franchise__picture.restaurant-banquet__picture
				source(media="(min-width: 1440px)" srcset="static/images/content/restaurant/banquet-large.jpg")
				source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/banquet-desktop.jpg")
				source(media="(min-width: 768px)" srcset="static/images/content/restaurant/banquet-tablet.jpg")
				img.index-franchise__img.restaurant-banquet__img(src="static/images/content/restaurant/banquet-mobile.jpg" width="360" height="800" alt="Картинка банкетного меню")
