form.calculator(action="#" method="POST")
	.container
		.calculator__row
			.calculator__info
				include ../time
				include ../banquet-rooms/banquet-rooms
			.calculator__order
				include ../order/order
