extends layout/main

block variables
	-var title = 'День рождения'
	-var pageClass = 'birthday-page'

block content
	main(class=pageClass)
		include pages/birthday/hero
		include pages/birthday/programs
		include pages/birthday/gift
		include pages/birthday/organization
		include pages/birthday/collect
		include pages/birthday/banquet
		include pages/birthday/restaurant
		include pages/birthday/animators-boys
		include pages/birthday/animators-girls
		include pages/birthday/services
block modals
	include modules/popups/video/video
