extends layout/main

block variables
	-var title = 'Калькулятор праздника'
	-var pageClass = 'calc-page'

block content
	main(class=pageClass)
		include pages/holiday-calculator/hero
		include pages/holiday-calculator/steps/steps-4
		include pages/holiday-calculator/calculator/calculator-4
block modals
	include modules/popups/success-pay/success-pay
