extends layout/main

block variables
  -var title = 'Франчайзинг'
  -var pageClass = 'franchising-page'

block content
  main(class=pageClass)
    include pages/franchising/hero/hero
    include pages/franchising/achievements/achievements
    include pages/franchising/concept/concept
    include pages/franchising/how-it-works/how-it-works
