extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		include modules/hero/hero
		include pages/index/family
		include pages/index/birthday
		include pages/index/our-parks
		include pages/index/franchise
