extends layout/main

block variables
	-var title = 'Фотогалерея Ресторана'
	-var pageClass = 'photo-gallery-page'

block content
	main(class=pageClass)
		include pages/photo-gallery/photo-gallery-restaurant
