extends layout/main

block variables
	-var title = 'Семейный ресторан Fun Day'
	-var pageClass = 'restaurant-page'

block content
	main(class=pageClass)
		include pages/restaurant/hero
		include pages/restaurant/gallery
		include pages/restaurant/banquet
		include pages/restaurant/master-class
block modals
	include modules/popups/video/video
