section.index-birthday
	+icon("curved-blue-decor", "index-birthday__bottom-curved", "100", "100")
	+icon("icon-blue-cloud", "index-birthday__decor-cloud js-clouds")
	.container.index-birthday__container
		.index-birthday__content
			.index-birthday__images
				picture.index-birthday__picture
					source(media="(min-width: 1440px)" srcset="static/images/content/index/birthday-large.png")
					source(media="(min-width: 1024px)" srcset="static/images/content/index/birthday-desktop.png")
					source(media="(min-width: 768px)" srcset="static/images/content/index/birthday-tablet.png")
					img.index-family__img(src="static/images/content/index/birthday-mobile.png" alt="Картинка Девочки в круге" width="300" height="300")
			.index-birthday__inner
				+icon('icon-balloon-purple', 'index-birthday__balloon-purple', '23', '60')
				+icon('icon-balloon-yellow', 'index-birthday__balloon-yellow', '50', '111')
				h2.index-birthday__title.section__title День рождения в Fun City
				.index-birthday__paragraph
					p.index-birthday__text Описание дней рождений в рамках калькулятора и пакета “Собери сам”.
					p.index-birthday__text Здесь надо сказать о состовляющих праздника в калькуляторе, то есть о возможности выбрать зал на определенное количество гостей, какие блюда из ресторана можно добавить в предзаказ, о том что можно выбрать развлекательную программу и дополнительные услуги.
				.index-birthday__buttons
					a.index-birthday__button.button(href="#") Заказать праздник
					+button-link("#", "Подробнее", true).index-birthday__link-button
				ul.index-birthday__decor-list(data-da=".index-birthday__container, 1024, 1")
					li.index-birthday__decor-item
						+icon("icon-ribbon", "index-birthday__decor-icon", "64", "64")
						h3.index-birthday__decor-title Стилистическое оформление праздника
						p.index-birthday__decor-text Описание дополнительных услуг в парках Fun City
					li.index-birthday__decor-item
						+icon("icon-birthday-food", "index-birthday__decor-icon", "64", "64")
						h3.index-birthday__decor-title Кулинарные мастер&#8209;классы
						p.index-birthday__decor-text Описание дополнительных услуг в парках Fun City
					li.index-birthday__decor-item
						+icon("icon-birthday-camera", "index-birthday__decor-icon", "64", "64")
						h3.index-birthday__decor-title Фотограф для вашего праздника
						p.index-birthday__decor-text Описание дополнительных услуг в парках Fun City
