section.index-our-parks
	.container
		.index-our-parks__content(data-show)
			+icon('icon-rocket', 'index-our-parks__icon-left', '16', '44')
			+icon('icon-rocket', 'index-our-parks__icon-right', '25', '68')
			h2.index-our-parks__title.section__title Наши парки
			ul.index-our-parks__list
				li.index-our-parks__item(data-show)
					a.index-our-parks__link._popup-link(href="#park-continent")
						picture.index-our-parks__picture
							source(media="(min-width: 1440px)" srcset="static/images/content/index/parks-1-large.jpg")
							img.index-our-parks__image(src="static/images/content/index/parks-1-mobile.jpg" width="320" height="300" alt="Фото парка ТРК Континент")
						h3.index-our-parks__heading ТРК Континент
						span.index-our-parks__city Санкт-Петербург
				li.index-our-parks__item(data-show)
					a.index-our-parks__link._popup-link(href="#park-continent")
						picture.index-our-parks__picture
							source(media="(min-width: 1440px)" srcset="static/images/content/index/parks-2-large.jpg")
							img.index-our-parks__image(src="static/images/content/index/parks-2-mobile.jpg" width="320" height="300" alt="Фото парка ТК Индустриальный")
						h3.index-our-parks__heading ТК Индустриальный
						span.index-our-parks__city Санкт-Петербург
				li.index-our-parks__item(data-show)
					a.index-our-parks__link._popup-link(href="#park-continent")
						picture.index-our-parks__picture
							source(media="(min-width: 1440px)" srcset="static/images/content/index/parks-3-large.jpg")
							img.index-our-parks__image(src="static/images/content/index/parks-3-mobile.jpg" width="320" height="300" alt="Фото парка ТРК Петровский")
						h3.index-our-parks__heading ТРК Петровский
						span.index-our-parks__city Казань
				li.index-our-parks__item(data-show)
					a.index-our-parks__link._popup-link(href="#park-continent")
						picture.index-our-parks__picture
							source(media="(min-width: 1440px)" srcset="static/images/content/index/parks-4-large.jpg")
							img.index-our-parks__image(src="static/images/content/index/parks-4-mobile.jpg" width="320" height="300" alt="Фото парка ТРК Стрелка")
						h3.index-our-parks__heading ТРК Стрелка
						span.index-our-parks__city Хабаровск
				li.index-our-parks__item(data-show)
					a.index-our-parks__link._popup-link(href="#park-continent")
						picture.index-our-parks__picture
							source(media="(min-width: 1440px)" srcset="static/images/content/index/parks-5-large.jpg")
							img.index-our-parks__image(src="static/images/content/index/parks-5-mobile.jpg" width="320" height="300" alt="Фото парка ТЦ Академический")
						h3.index-our-parks__heading ТЦ Академический
						span.index-our-parks__city Екатеринбург
				li.index-our-parks__item(data-show)
					a.index-our-parks__link._popup-link(href="#park-continent")
						picture.index-our-parks__picture
							source(media="(min-width: 1440px)" srcset="static/images/content/index/parks-6-large.jpg")
							img.index-our-parks__image(src="static/images/content/index/parks-6-mobile.jpg" width="320" height="300" alt="Фото парка ТЦ Сигма")
						h3.index-our-parks__heading ТЦ Сигма
						span.index-our-parks__city Нижний Новгород
