.restaurant-hero {
  min-height: 520px;
  overflow-x: hidden;
  margin: 0 0 60px 0;
  position: relative;
  @media screen and (min-width: $tablet-size) {
    margin: 0 0 80px 0;
    min-height: 820px;
  }
  @media screen and (min-width: $desktop-size) {
    min-height: 700px;
  }
  @media screen and (min-width: $large-size) {
    margin: 0 0 100px 0;
    min-height: 900px;
  }
  &__curve {
    height: 48px;
    position: absolute;
    width: 100%;
    bottom: 0;
    min-width: 100%;
    @media screen and (min-width: $tablet-size) {
      height: 101px;
    }
    @media screen and (min-width: $desktop-size) {
      height: 135px;
    }
    @media screen and (min-width: $large-size) {
      height: 190px;
    }
  }
  &__picture {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    &::after {
      background: linear-gradient(180deg, #4b4b4b -1.31%, rgba(75, 75, 75, .3) 100%);
      content: "";
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
  }
  &__content {
    padding: 30px 0 0;
    @media screen and (min-width: $tablet-size) {
      padding: 50px 0 0 0;
    }
    @media screen and (min-width: $large-size) {
      padding: 100px 0 0 0;
    }
  }
  &__title {
    margin: 0 0 30px 0;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      margin: 0 0 50px 0;
    }
    @media screen and (min-width: $desktop-size) {
      margin: 0 0 60px 0;
    }
    @media screen and (min-width: $large-size) {
      margin: 0 0 70px 0;
    }
  }
  &__wrapper {
    overflow: inherit;
    @media screen and (min-width: $tablet-size) {
      padding: 0 40px;
    }
    @media screen and (min-width: $desktop-size) {
      padding: 0;
    }
  }
  &__list {
    @media screen and (min-width: $tablet-size) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
    @media screen and (min-width: $desktop-size) {
      grid-template-columns: repeat(6, 1fr);
      gap: 20px;
    }
    @media screen and (min-width: $large-size) {
      gap: 40px;
    }
  }
  &__item {
    padding: 30px 0 0 0;
    position: relative;
    width: 150px;
    @media screen and (min-width: $tablet-size) {
      width: 100%;
    }
    &::before {
      background-color: #d79bcb;
      border-radius: 30px;
      content: "";
      height: 50%;
      opacity: .6;
      left: 0;
      position: absolute;
      top: 12px;
      transform: skewY(-8deg);
      width: 94%;
      z-index: -1;
    }
  }
  &__inner {
    align-items: center;
    background-color: $purple-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    min-height: 210px;
    padding: 58px 15px 0;
    position: relative;
    text-decoration: none;
    @media screen and (min-width: $tablet-size) {
      min-height: 190px;
      padding: 30px 10px 0;
    }
    @media screen and (min-width: $desktop-size) {
      min-height: 220px;
      padding: 53px 10px 0;
      transition: all ease-out .15s;
      &:hover {
        transform: translateY(-10px);
        z-index: 1;
      }
    }
    @media screen and (min-width: $large-size) {
      min-height: 260px;
      padding: 75px 20px 0;
    }
  }
  &__icon {
    margin: 0 0 30px 0;
    @media screen and (min-width: $desktop-size) {
      margin: 0 0 25px 0;
    }
    @media screen and (min-width: $large-size) {
      margin: 0 0 43px 0;
    }
  }
  &__heading {
    color: $white;
    font-family: $decor-font;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__bullets {
    align-items: center;
    bottom: -42px;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    @media screen and (min-width: $tablet-size) {
      display: none;
    }
  }
  &__bullet {
    background-color: transparent;
    height: 20px;
    position: relative;
    width: 20px;
    &:not(:last-child) {
      margin: 0 8px 0 0;
    }
    &::after {
      background-color: rgba($white, .3);
      border-radius: 50%;
      content: "";
      height: 8px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
    }
    &--active {
      &::after {
        background-color: $white;
        height: 12px;
        width: 12px;
      }
    }
  }
}
