section.franchising-mall
	.container
		.franchising-mall__content
			h2.franchising-mall__title.font-h2 Fun City - лучшее решение для торговых центров!
			ul.franchising-mall__list
				li.franchising-mall__item
					+icon("icon-fast-time", "franchising-mall__icon", "48", "48")
					p.franchising-mall__text Значительно продлеваем время пребывания в ТЦ

