@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}
@include font-face('Futura', '../fonts/futura/demi/FuturaPT-Demi', 600, 'normal');
@include font-face('Futura', '../fonts/futura/book/FuturaPT-Book', 300, 'normal');
@include font-face('Panton', '../fonts/panton/black/Panton-Black', 900, 'normal');
@include font-face('Panton', '../fonts/panton/extrabold/Panton-ExtraBold', 800, 'normal');
@include font-face('Pacifico', '../fonts/pacifico/regular/Pacifico-Regular', 400, 'normal');
