// Colors
$white: #fff;
$black: #000;
$blue-color: #73cdf4;
$gray-color: #a3a3a3;
$yellow-color: #ffcc49;
$light-blue-color: #b7e2f4;
$light-gray-color: #f6f6f6;
$purple-color: #b03797;
$red-color: #ff0000;
$text-color: #3f3a3a;

// Sizes
$base-font-size: 16px;

$tablet-size: 768px;
$desktop-size: 1024px;
$large-size: 1440px;

$content: 1440px;

// Fonts
$main-font: "Futura", Arial, sans-serif;
$second-font: "Panton", Arial, sans-serif;
$decor-font: "Pacifico", Arial, sans-serif;
