// Colors
$white: #fff;
$black: #000;
$yellow-color: #ffcc49;
$purple-color: #b03797;
$text-color: #3f3a3a;

// Sizes
$base-font-size: 16px;

$tablet-size: 768px;
$desktop-size: 1024px;
$large-size: 1440px;

$content: 1440px;

// Fonts
$main-font: "Futura", Arial, sans-serif;
$second-font: "Panton", Arial, sans-serif;
$decor-font: "Pacifico", Arial, sans-serif;
