.birthday-animators {
  margin: 0 0 60px 0;
  @media screen and (min-width: $tablet-size) {
    margin: 0 0 100px 0;
  }
  @media screen and (min-width: $desktop-size) {
    margin: 0 0 60px 0;
  }
  @media screen and (min-width: $large-size) {
    margin: 0 0 80px 0;
  }
  &--girls {
    background-color: $yellow-color;
    padding: 60px 0 70px;
    @media screen and (min-width: $tablet-size) {
      margin: 0 0 80px 0;
      padding: 120px 0 110px;
    }
    @media screen and (min-width: $large-size) {
      margin: 0 0 120px 0;
      padding: 180px 0 170px;
    }
  }
  &__top-shape {
    height: 37px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      height: 79px;
      top: -3px;
    }
    @media screen and (min-width: $desktop-size) {
      height: 105px;
    }
    @media screen and (min-width: $large-size) {
      height: 148px;
      top: -4px;
    }
  }
  &__bottom-shape {
    bottom: -1px;
    height: 48px;
    left: 0;
    position: absolute;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      height: 102px;
    }
    @media screen and (min-width: $decor-font) {
      height: 135px;
    }
    @media screen and (min-width: $large-size) {
      height: 190px;
    }
  }
  &__mask--purple {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: block;
      left: 55%;
      position: absolute;
      top: 20px;
      transform: rotate(-30deg);
    }
    @media screen and (min-width: $desktop-size) {
      height: 66px;
      left: 45%;
      width: 170px;
    }
  }
  &__mask--yellow {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: block;
      position: absolute;
      right: 10%;
      top: -20px;
      transform: rotate(30deg);
    }
    @media screen and (min-width: $desktop-size) {
      height: 43px;
      right: 25%;
      width: 109px;
    }
    @media screen and (min-width: $large-size) {
      left: 60%;
      right: unset;
    }
  }
  &__bow--purple {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: block;
      left: 45%;
      position: absolute;
      top: -18px;
      transform: rotate(-15deg);
    }
    @media screen and (min-width: $desktop-size) {
      height: 70px;
      width: 96px;
    }
    @media screen and (min-width: $large-size) {
      height: 87px;
      left: 30%;
      width: 119px;
    }
  }
  &__bow--blue {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: block;
      position: absolute;
      right: 27%;
      top: 85px;
      transform: rotate(15deg);
    }
    @media screen and (min-width: $desktop-size) {
      height: 50px;
      width: 68px;
    }
    @media screen and (min-width: $large-size) {
      height: 60px;
      right: 45%;
      top: 120px;
      width: 82px;
    }
  }
  &__top {
    @media screen and (min-width: $large-size) {
      display: flex;
      justify-content: space-between;
      margin: 0 0 40px 0;
    }
  }
  &__title {
    font-family: $decor-font;
    margin: 0 0 30px 0;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      margin: 0;
      text-align: left;
    }
  }
  &__download {
    display: none;
    @media screen and (min-width: $tablet-size) {
      display: flex;
      justify-content: flex-end;
      margin: 0 0 -50px 0;
      position: relative;
      z-index: 2;
    }
    @media screen and (min-width: $large-size) {
      margin: 0;
    }
  }
  &__wrapper {
    margin: 0 -20px;
    padding: 0 20px 10px;
    @media screen and (min-width: $tablet-size) {
      overflow: inherit;
      margin: 0;
      padding: 0 0 10px 0;
    }
  }
  &__item {
    width: 320px;
    @media screen and (min-width: $tablet-size) {
      width: 330px;
      .birthday-animators__inner {
        transform: scale(.6);
        transition: all ease-out .3s;
      }
      .birthday-animators__text {
        opacity: 0;
        visibility: hidden;
      }
      .birthday-animators__link {
        opacity: 0;
        visibility: hidden;
      }
    }
    @media screen and (min-width: $desktop-size) {
      width: 370px;
    }
    @media screen and (min-width: $large-size) {
      width: 410px;
    }
  }
  &__item--active {
    @media screen and (min-width: $tablet-size) {
      .birthday-animators__inner {
        transform: scale(1);
        transition: all ease-out .3s;
      }
      .birthday-animators__text {
        opacity: 1;
        visibility: visible;
        max-height: min-content;
        transition: all ease-out .2s .2s;
      }
      .birthday-animators__link {
        opacity: 1;
        visibility: visible;
      }
      .birthday-animators__picture {
        opacity: 1;
        visibility: visible;
        transition: all ease-out .3s;
      }
    }
  }
  &__picture {
    display: block;
    height: 374px;
    margin: 0 auto 20px auto;
    width: 320px;
    @media screen and (min-width: $tablet-size) {
      height: 386px;
      transition: all ease-out .3s;
      opacity: .7;
      width: 330px;
    }
    @media screen and (min-width: $desktop-size) {
      height: 433px;
      width: 370px;
    }
    @media screen and (min-width: $large-size) {
      height: 480px;
      margin: 0 auto 30px auto;
      width: 410px;
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &__description {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &__heading {
    font-family: $decor-font;
    margin: 0 0 10px 0;
  }
  &__text {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 30px 0;
    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      line-height: 22px;
      transition: all ease-out .2s;
      opacity: 0;
      visibility: hidden;
      max-height: 0;
    }
    @media screen and (min-width: $large-size) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__link {
    width: 80%;
    @media screen and (min-width: $tablet-size) {
      width: 50%;
    }
    @media screen and (min-width: $large-size) {
      width: 35%;
    }
  }
  &__slider-left {
    left: -5px;
    position: absolute;
    top: 199px;
    z-index: 2;
    @media screen and (min-width: $tablet-size) {
      left: -25px;
      top: 189px;
    }
    @media screen and (min-width: $desktop-size) {
      top: 223px;
    }
    @media screen and (min-width: $large-size) {
      top: 246px;
    }
  }
  &__slider-right {
    position: absolute;
    right: -5px;
    top: 199px;
    z-index: 2;
    @media screen and (min-width: $tablet-size) {
      left: 305px;
      top: 189px;
      right: unset;
    }
    @media screen and (min-width: $desktop-size) {
      left: 345px;
      top: 223px;
    }
    @media screen and (min-width: $large-size) {
      left: 385px;
      top: 246px;
    }
  }
}
