.birthday-programs {
  @media screen and (min-width: $tablet-size) {
    margin: -333px 0 0 0;
  }
  @media screen and (min-width: $desktop-size) {
    margin: -300px 0 0 0;
  }
  @media screen and (min-width: $large-size) {
    margin: -250px 0 0 0;
  }
  &__wrapper {
    overflow: inherit;
  }
  &__slider-prev {
    left: -25px;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 10px));
    z-index: 2;
    @media screen and (min-width: $tablet-size) {
      display: none;
    }
  }
  &__slider-next {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(calc(-50% - 10px));
    z-index: 2;
    @media screen and (min-width: $tablet-size) {
      display: none;
    }
  }
  &__slider-disabled {
    opacity: .7;
  }
  &__list {
    @media screen and (min-width: $tablet-size) {
      display: grid;
      gap: 20px 30px;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: $desktop-size) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    @media screen and (min-width: $large-size) {
      gap: 30px 40px;
    }
  }
  &__item {
    padding: 0 0 10px 0;
  }
  &__inner {
    background-color: $white;
    border: 2px solid $purple-color;
    box-shadow: 0 10px 0 rgba(176, 55, 151, .3);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    @media screen and (min-width: $tablet-size) {
      padding: 30px;
    }
    @media screen and (min-width: $desktop-size) {
      padding: 20px;
    }
    @media screen and (min-width: $large-size) {
      padding: 30px 40px;
    }
  }
  &__promotion {
    align-items: center;
    background: linear-gradient(180deg, #fec926 0%, #e10886 67.71%, #b03797 100%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    position: absolute;
    right: -10px;
    top: -10px;
    transform: rotate(15deg);
    width: 60px;
    @media screen and (min-width: $tablet-size) {
      height: 70px;
      right: -15px;
      top: -15px;
      width: 70px;
    }
    @media screen and (min-width: $large-size) {
      height: 90px;
      width: 90px;
    }
    &--new {
      background: linear-gradient(180deg, #bcd800 0%, #0093cb 61.46%, #432acb 100%);
    }
    &-text {
      color: $white;
      font-family: $decor-font;
      font-size: 12px;
      line-height: 14px;
      @media screen and (min-width: $tablet-size) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    &-count {
      color: $white;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin: 6px 0 0 0;
    }
  }
  &__title {
    font-family: $decor-font;
    margin: 0 0 10px 0;
  }
  &__count {
    display: block;
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 16px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    @media screen and (min-width: $large-size) {
      margin: 0 0 30px 0;
    }
  }
  &__prog-list {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
    @media screen and (min-width: $large-size) {
      margin: 0 0 30px 0;
    }
  }
  &__prog-item {
    padding-left: 16px;
    position: relative;
    &::before {
      background-color: $purple-color;
      border-radius: 50%;
      content: "";
      height: 6px;
      left: 0;
      position: absolute;
      top: 4px;
      width: 6px;
    }
    &:not(:last-child) {
      margin: 0 0 12px 0;
    }
  }
  &__prog-sub-list {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0 0;
  }
  &__prog-sub-item {
    padding: 0 0 0 16px;
    position: relative;
    &::before {
      background-color: transparent;
      border: 1px solid $purple-color;
      border-radius: 50%;
      content: "";
      height: 6px;
      left: 0;
      position: absolute;
      top: 4px;
      width: 6px;
    }
    &:not(:last-child) {
      margin: 0 0 6px 0;
    }
  }
  &__prog-text {
    font-size: 12px;
    line-height: 14px;
    @media screen and (min-width: $tablet-size) {
      font-size: 14px;
      line-height: 16px;
    }
  }
  &__link {
    margin: 0 0 15px 0;
    @media screen and (min-width: $tablet-size) {
      margin: 0 auto 20px auto;
      max-width: 250px;
    }
  }
  &__note {
    color: $gray-color;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    @media screen and (min-width: $tablet-size) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.birthday-programs__gift {
  align-items: center;
  background-color: $blue-color;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
  padding: 15px;
  @media screen and (min-width: $large-size) {
    margin: 0 0 30px 0;
    padding: 18px 15px 24px;
  }
  &-icon {
    margin: 0 0 10px 0;
    @media screen and (min-width: $large-size) {
      height: 44px;
      margin: 0 0 8px 0;
      width: 44px;
    }
  }
  &-text {
    font-family: $decor-font;
    font-size: 14px;
    line-height: 18px;
    padding: 0 20px;
    text-align: center;
    @media screen and (min-width: $large-size) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &-text--decor {
    display: inline-block;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    &::after {
      background: url("../images/common/icon-white-decor.svg") no-repeat center bottom;
      background-size: 100% 100%;
      bottom: -4px;
      content: "";
      height: 17px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
}

.birthday-programs__buy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin: 0 0 20px 0;
  @media screen and (min-width: $large-size) {
    margin: 0 0 30px 0;
  }
  &-text {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .1em;
    grid-column: 1 / -1;
    margin: 0 0 12px 0;
    text-align: center;
    text-transform: uppercase;
  }
  &-col {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  &-day {
    color: $gray-color;
    font-size: 12px;
    line-height: 14px;
    @media screen and (min-width: $tablet-size) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &-price {
    font-family: $decor-font;
    font-size: 20px;
    line-height: 26px;
    @media screen and (min-width: $tablet-size) {
      font-size: 24px;
      line-height: 32px;
    }
  }
}
