.birthday-restaurant {
  @media screen and (min-width: $tablet-size) {
    min-height: 876px;
  }
  @media screen and (min-width: $desktop-size) {
    min-height: 686px;
  }
  @media screen and (min-width: $large-size) {
    min-height: 910px;
  }
  &__curve {
    height: 37px;
    left: 0;
    position: absolute;
    top: -1px;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      height: 79px;
      top: -4px;
    }
  }
  &__content {
    padding: 70px 0 0;
    @media screen and (min-width: $tablet-size) {
      padding: 100px 0 0;
    }
    @media screen and (min-width: $desktop-size) {
      padding: 120px 0 0;
    }
    @media screen and (min-width: $large-size) {
      padding: 200px 0 0;
    }
  }
}
