.calculator-rooms {
  &__title {
    font-family: $decor-font;
    margin: 0 0 35px 0;
  }
  &__list {
    display: grid;
    gap: 30px;
    @media screen and (min-width: $tablet-size) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__item {
    position: relative;
    width: 100%;
    @media screen and (min-width: $desktop-size) {
      &:hover {
        .calculator-rooms__inner {
          transform: translateY(-10px);
        }
      }
    }
    &--disabled {
      @media screen and (min-width: $desktop-size) {
        &:hover {
          .calculator-rooms__inner {
            transform: translateY(0);
          }
        }
      }
      &::before {
        background-color: rgba($white, .5);
        border-radius: 30px;
        content: "";
        height: calc(100% + 5px);
        left: 0;
        position: absolute;
        top: -5px;
        width: 100%;
        z-index: 15;
      }
    }
    &::after {
      background-color: rgba(176, 55, 151, .3);
      border-radius: 30px;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
  &__inner {
    position: relative;
    transform: translateY(-5px);
    @media screen and (min-width: $desktop-size) {
      transition: all ease-out .15s;
      transform: translateY(0);
    }
  }
  &__picture {
    border-radius: 30px;
    display: block;
    height: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      height: 340px;
    }
    @media screen and (min-width: $large-size) {
      height: 400px;
    }
    &::after {
      background: linear-gradient(97.13deg, #4b4b4b 0%, rgba(75, 75, 75, 0) 94.44%);
      content: "";
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  &__box {
    bottom: 20px;
    display: flex;
    flex-direction: column;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    @media screen and (min-width: $tablet-size) {
      bottom: 30px;
      top: 30px;
    }
  }
  &__heading {
    color: $white;
    font-family: $decor-font;
    margin: 0 0 10px 0;
  }
  &__text {
    color: $white;
    font-size: 14px;
    line-height: 18px;
  }
  &__radio {
    margin: auto 0 0 0;
  }
  &__shadow-link {
    &::after {
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
