.button {
  align-items: center;
  background-color: $purple-color;
  border: none;
  border-radius: 30px;
  box-shadow: 0 6px 0 rgba(176, 55, 151, .1);
  color: $white;
  display: flex;
  font-family: $second-font;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  justify-content: center;
  outline: none;
  padding: 16px 22px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-out .15s;
  width: auto;
  @media screen and (min-width: $large-size) {
    font-size: 14px;
    padding: 21px 22px;
  }
  &--transparent {
    background-color: transparent;
    box-shadow: none;
    color: $purple-color;
    padding: 16px 0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
  }
  @media screen and (min-width: $desktop-size) {
    &:hover {
      box-shadow: none;
      color: rgba($white, .8);
    }
    &:active {
      background-color: $white;
      box-shadow: 0 6px 0 rgba(176, 55, 151, .1);
      color: $purple-color;
      transform: translateY(5px);
    }
    &--transparent {
      &:hover {
        box-shadow: none;
        color: rgba($purple-color, .8);
      }
    }
  }
}

.button-link {
  align-items: center;
  border: none;
  color: $white;
  display: inline-flex;
  font-family: $second-font;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: all ease-out .15s;
  width: auto;
  @media screen and (min-width: $large-size) {
    font-size: 14px;
  }
  &:active {
    transform: translateY(5px);
  }
  &--text {
    background-color: transparent;
    color: $purple-color;
    padding: 16px 0;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
    &:active {
      transform: translateY(0);
    }
  }
  &--icon {
    align-items: center;
    background-color: $purple-color;
    border-radius: 50%;
    box-shadow: 0 6px 0 rgba(176, 55, 151, .1);
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0 0 0 15px;
    width: 50px;
    @media screen and (min-width: $large-size) {
      height: 60px;
      width: 60px;
    }
    svg {
      flex: 0 0 auto;
      fill: $white;
    }
    &:active {
      transform: translateY(0);
    }
  }
}
