li.calculator-rooms__item.calculator-rooms__item--disabled
	.calculator-rooms__inner
		picture.calculator-rooms__picture
			source(media="(min-width: 1440px)" srcset="static/images/content/birthday/banquet-2-large.jpg")
			source(media="(min-width: 1024px)" srcset="static/images/content/birthday/banquet-2-desktop.jpg")
			source(media="(min-width: 768px)" srcset="static/images/content/birthday/banquet-2-tablet.jpg")
			img.calculator-rooms__img(src="static/images/content/birthday/banquet-2-mobile.jpg" width="320" height="320" alt="Картинка банкетного зала")
		.calculator-rooms__box
			h3.calculator-rooms__heading.font-h4 Страна чудес
			p.calculator-rooms__text до 15 человек
			ul.calculator-rooms__radio.radio-times
				li.radio-times__item
					input.radio-times__input(type="radio" name="calcWonderland3Times" id="calcWonderland3Times9AM" value="9AM")
					label.radio-times__label(for="calcWonderland3Times9AM") 9:00
				li.radio-times__item
					input.radio-times__input(type="radio" name="calcWonderland3Times" id="calcWonderland3Times11AM" value="11AM" disabled)
					label.radio-times__label(for="calcWonderland3Times11AM") 11:00
				li.radio-times__item
					input.radio-times__input(type="radio" name="calcWonderland3Times" id="calcWonderland3Times13PM" value="13PM" disabled)
					label.radio-times__label(for="calcWonderland3Times13PM") 13:00
				li.radio-times__item
					input.radio-times__input(type="radio" name="calcWonderland3Times" id="calcWonderland3Times17PM" value="17PM")
					label.radio-times__label(for="calcWonderland3Times17PM") 17:00
				li.radio-times__item
					input.radio-times__input(type="radio" name="calcWonderland3Times" id="calcWonderland3Times19PM" value="19PM")
					label.radio-times__label(for="calcWonderland3Times19PM") 19:00
		a.calculator-rooms__shadow-link._popup-link(href="#calc-banquet")
