.header {
  flex: 0 0 auto;
  &__wrapper {
    background-color: $white;
    opacity: 0;
    position: relative;
    width: 100%;
    z-index: 20;
    &.show {
      animation: top-down ease-out .5s forwards;
    }
  }
  .container {
    @media screen and (min-width: $large-size) {
      max-width: 100%;
    }
  }
  &__placeholder {
    display: none;
    min-height: 80px;
    width: 100%;
    @media screen and (min-width: $tablet-size) {
      min-height: 100px;
    }
    @media screen and (min-width: $desktop-size) {
      min-height: 158px;
    }
  }
  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px;
    @media screen and (min-width: $tablet-size) {
      padding: 20px 0;
    }
    @media screen and (min-width: $desktop-size) {
      position: relative;
    }
  }
  &__logo-link {
    @media screen and (min-width: $desktop-size) {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
  &__logo {
    @media screen and (min-width: $tablet-size) {
      height: 60px;
      width: 186px;
    }
  }
}
