.header {
  background-color: $white;
  flex: 0 0 auto;
  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px;
    @media screen and (min-width: $tablet-size) {
      padding: 20px 0;
    }
  }
  &__logo {
    @media screen and (min-width: $tablet-size) {
      height: 60px;
      width: 186px;
    }
  }
}
