.popup.popup_banquet-jungle
	.popup__content
		.popup__close
			+icon("icon-close", "popup__close-icon", "11", "11")
		.popup__body
			.popup__top.popup__top--banquet
				.popup__heading.popup__heading--banquet
					h2.popup__title Банкетный зал “Джунгли”
					span.popup__title-city до 16 человек
				a.popup__link.popup__link--banquet.button(href="#") Забронировать зал
			.popup__paragraph
				p.popup__text Описание парка в ТЦ Континент. Опционально. Описания может и не быть в зависимости от требований.
				p.popup__text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста.
			.popup__gallery-slider
				include gallery-slider
