section.calculator-service
	.calculator-service__content
		h2.calculator-service__title.calculator-service__title--mobile-none.font-h2 Оплата и подтверждение
		.calculator-rooms__gift(data-da=".calculator__order, 1440, 1")
			+icon("icon-rope-big", "calculator-rooms__gift-rope", "140", "44")
			h3.calculator-rooms__gift-title.font-h4 Уважаемые гости!
			p.calculator-rooms__gift-text Предупреждаем вас, что при заказе готового предложения, вам необходимо набрать угощений ресторана на сумму #[span.calculator-rooms__gift-text--bold не менее 5000 рублей.]
