section.calculator-service
	.calculator-service__content
		h2.calculator-service__title.font-h2 Развлекательные и шоу-программы
		include service-slider/service-slider-program
		include service-programs
