section.franchising-achievements
	.container
		.franchising-achievements__content
			+icon("icon-dashed-circle", "franchising-achievements__decor", "80", "80")
			h2.franchising-achievements__title.font-h2 Fun City — современная франшиза, которая действительно работает
			ul.franchising-achievements__list
				li.franchising-achievements__item
					+icon("icon-castle", "franchising-achievements__icon", "48", "48")
					h3.franchising-achievements__heading с #[span.franchising-achievements__heading--bold 2005] года
					p.franchising-achievements__text на рынке парков развлечений
				li.franchising-achievements__item
					+icon("icon-staff", "franchising-achievements__icon", "48", "48")
					h3.franchising-achievements__heading более #[span.franchising-achievements__heading--bold 150]
					p.franchising-achievements__text квалифицированных сотрудников
				li.franchising-achievements__item
					+icon("icon-toys", "franchising-achievements__icon", "48", "48")
					h3.franchising-achievements__heading #[span.franchising-achievements__heading--bold 350 000]
					p.franchising-achievements__text гостей посещают ежемесячно
				li.franchising-achievements__item
					+icon("icon-jester-hat", "franchising-achievements__icon", "48", "48")
					h3.franchising-achievements__heading более #[span.franchising-achievements__heading--bold 1000]
					p.franchising-achievements__text праздников проводится ежемесячно
				li.franchising-achievements__item
					+icon("icon-money", "franchising-achievements__icon", "48", "48")
					h3.franchising-achievements__heading #[span.franchising-achievements__heading--bold 600] млн. ₽
					p.franchising-achievements__text оборот в год
				li.franchising-achievements__item
					+icon("icon-ferris-wheels", "franchising-achievements__icon", "48", "48")
					h3.franchising-achievements__heading #[span.franchising-achievements__heading--bold 5]
					p.franchising-achievements__text собственных центров
