section.birthday-amusement
	.container
		.birthday-amusement__content
			h2.birthday-amusement__title.font-h3 Аттракционы
			.birthday-amusement__wrapper.swiper
				ul.birthday-amusement__list.swiper-wrapper
					li.birthday-amusement__item.swiper-slide
						.birthday-amusement__inner
							.birthday-amusement__image
								picture.birthday-amusement__picture
									img.birthday-amusement__img(src="static/images/content/birthday/amusement-1-mobile.png" width="420" height="420" alt="Картинка аттракциона")
							.birthday-amusement__box
								h3.birthday-amusement__heading.font-h3 Веревочный парк
								p.birthday-amusement__text Описание аттракциона
					li.birthday-amusement__item.swiper-slide
						.birthday-amusement__inner
							.birthday-amusement__image
								picture.birthday-amusement__picture
									img.birthday-amusement__img(src="static/images/content/birthday/amusement-1-mobile.png" width="420" height="420" alt="Картинка аттракциона")
							.birthday-amusement__box
								h3.birthday-amusement__heading.font-h3 Веревочный парк
								p.birthday-amusement__text Описание аттракциона
					li.birthday-amusement__item.swiper-slide
						.birthday-amusement__inner
							.birthday-amusement__image
								picture.birthday-amusement__picture
									img.birthday-amusement__img(src="static/images/content/birthday/amusement-1-mobile.png" width="420" height="420" alt="Картинка аттракциона")
							.birthday-amusement__box
								h3.birthday-amusement__heading.font-h3 Веревочный парк
								p.birthday-amusement__text Описание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракциона
					li.birthday-amusement__item.swiper-slide
						.birthday-amusement__inner
							.birthday-amusement__image
								picture.birthday-amusement__picture
									img.birthday-amusement__img(src="static/images/content/birthday/amusement-1-mobile.png" width="420" height="420" alt="Картинка аттракциона")
							.birthday-amusement__box
								h3.birthday-amusement__heading.font-h3 Веревочный парк
								p.birthday-amusement__text Описание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракционаОписание аттракциона
				+slider-button("left").birthday-amusement__slider-left
				+slider-button("right").birthday-amusement__slider-right
