section.birthday-animators
	.container
		.birthday-animators__content
			.birthday-animators__top
				h2.birthday-animators__title.font-h3 Аниматоры девочки
				.birthday-animators__download
					+button-download-link("#", "Скачать PDF", true).birthday-animators__download-link
			.birthday-animators__wrapper.swiper
				ul.birthday-animators__list.swiper-wrapper
					li.birthday-animators__item.swiper-slide.birthday-animators__item--active
						.birthday-animators__inner
							picture.birthday-animators__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/animator-girl-large.png")
								source(media="(min-width: 1024px)" srcset="static/images/content/birthday/animator-girl-desktop.png")
								source(media="(min-width: 768px)" srcset="static/images/content/birthday/animator-girl-tablet.png")
								img.birthday-animators__img(src="static/images/content/birthday/animator-girl-mobile.png" width="320" height="374" alt="Фотография аниматора")
							.birthday-animators__description
								h3.birthday-animators__heading.font-h3 Принцесса Рапунцель
								p.birthday-animators__text Краткое описание аниматора
								a.birthday-animators__link.button(href="#") Заказать
					li.birthday-animators__item.swiper-slide
						.birthday-animators__inner
							picture.birthday-animators__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/animator-girl-large.png")
								source(media="(min-width: 1024px)" srcset="static/images/content/birthday/animator-girl-desktop.png")
								source(media="(min-width: 768px)" srcset="static/images/content/birthday/animator-girl-tablet.png")
								img.birthday-animators__img(src="static/images/content/birthday/animator-girl-mobile.png" width="320" height="374" alt="Фотография аниматора")
							.birthday-animators__description
								h3.birthday-animators__heading.font-h3 Принцесса Рапунцель
								p.birthday-animators__text Краткое описание аниматора
								a.birthday-animators__link.button(href="#") Заказать
					li.birthday-animators__item.swiper-slide
						.birthday-animators__inner
							picture.birthday-animators__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/animator-girl-large.png")
								source(media="(min-width: 1024px)" srcset="static/images/content/birthday/animator-girl-desktop.png")
								source(media="(min-width: 768px)" srcset="static/images/content/birthday/animator-girl-tablet.png")
								img.birthday-animators__img(src="static/images/content/birthday/animator-girl-mobile.png" width="320" height="374" alt="Фотография аниматора")
							.birthday-animators__description
								h3.birthday-animators__heading.font-h3 Принцесса Рапунцель
								p.birthday-animators__text Краткое описание аниматора
								a.birthday-animators__link.button(href="#") Заказать
					li.birthday-animators__item.swiper-slide
						.birthday-animators__inner
							picture.birthday-animators__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/animator-girl-large.png")
								source(media="(min-width: 1024px)" srcset="static/images/content/birthday/animator-girl-desktop.png")
								source(media="(min-width: 768px)" srcset="static/images/content/birthday/animator-girl-tablet.png")
								img.birthday-animators__img(src="static/images/content/birthday/animator-girl-mobile.png" width="320" height="374" alt="Фотография аниматора")
							.birthday-animators__description
								h3.birthday-animators__heading.font-h3 Принцесса Рапунцель
								p.birthday-animators__text Краткое описание аниматора
								a.birthday-animators__link.button(href="#") Заказать
					li.birthday-animators__item.swiper-slide
						.birthday-animators__inner
							picture.birthday-animators__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/animator-girl-large.png")
								source(media="(min-width: 1024px)" srcset="static/images/content/birthday/animator-girl-desktop.png")
								source(media="(min-width: 768px)" srcset="static/images/content/birthday/animator-girl-tablet.png")
								img.birthday-animators__img(src="static/images/content/birthday/animator-girl-mobile.png" width="320" height="374" alt="Фотография аниматора")
							.birthday-animators__description
								h3.birthday-animators__heading.font-h3 Принцесса Рапунцель
								p.birthday-animators__text Краткое описание аниматора
								a.birthday-animators__link.button(href="#") Заказать
				+slider-button("left").birthday-animators__slider-left
				+slider-button("right").birthday-animators__slider-right
