section.birthday-banquet
	.container
		.birthday-banquet__content
			h2.birthday-banquet__title Банкетные комнаты
			.birthday-banquet__wrapper.swiper
				ul.birthday-banquet__list.swiper-wrapper
					li.birthday-banquet__item.swiper-slide
						.birthday-banquet__inner
							picture.birthday-banquet__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/banquet-1-large.jpg")
								source(media="(min-width: 1024px)" srcset="static/images/content/birthday/banquet-1-desktop.jpg")
								source(media="(min-width: 768px)" srcset="static/images/content/birthday/banquet-1-tablet.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/banquet-1-mobile.jpg" width="250" height="320" alt="Картинка банкетного меню")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Джунгли
								p.birthday-banquet__text Окажись в центре хип-хоп тусовки!
								a.birthday-banquet__link.button(href="#") Забронировать зал
					li.birthday-banquet__item.swiper-slide
						.birthday-banquet__inner
							picture.birthday-banquet__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/banquet-2-large.jpg")
								source(media="(min-width: 1024px)" srcset="static/images/content/birthday/banquet-2-desktop.jpg")
								source(media="(min-width: 768px)" srcset="static/images/content/birthday/banquet-2-tablet.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/banquet-2-mobile.jpg" width="250" height="320" alt="Картинка банкетного меню")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Страна Чудес
								p.birthday-banquet__text Вместе с Алисой исследуйте страну чудес!
								a.birthday-banquet__link.button(href="#") Забронировать зал
					li.birthday-banquet__item.swiper-slide
						.birthday-banquet__inner
							picture.birthday-banquet__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/banquet-3-large.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/banquet-3-desktop.jpg" width="250" height="320" alt="Картинка банкетного меню")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Джунгли
								p.birthday-banquet__text Окажись в центре хип-хоп тусовки!
								a.birthday-banquet__link.button(href="#") Забронировать зал
					li.birthday-banquet__item.swiper-slide
						.birthday-banquet__inner
							picture.birthday-banquet__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/banquet-2-large.jpg")
								source(media="(min-width: 1024px)" srcset="static/images/content/birthday/banquet-2-desktop.jpg")
								source(media="(min-width: 768px)" srcset="static/images/content/birthday/banquet-2-tablet.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/banquet-2-mobile.jpg" width="250" height="320" alt="Картинка банкетного меню")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Страна Чудес
								p.birthday-banquet__text Вместе с Алисой исследуйте страну чудес!
								a.birthday-banquet__link.button(href="#") Забронировать зал
					li.birthday-banquet__item.swiper-slide
						.birthday-banquet__inner
							picture.birthday-banquet__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/banquet-3-large.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/banquet-3-desktop.jpg" width="250" height="320" alt="Картинка банкетного меню")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Джунгли
								p.birthday-banquet__text Окажись в центре хип-хоп тусовки!
								a.birthday-banquet__link.button(href="#") Забронировать зал
				+slider-button("left").birthday-banquet__slider-left
				+slider-button("right").birthday-banquet__slider-right
