section.index-franchise.birthday-collect
	+icon("icon-shape-top", "index-franchise__top-shape", "100", "100")
	+icon("curved-blue-decor", "index-franchise__bottom-shape", "100", "100")
	.index-franchise__content.birthday-collect__content
		.index-franchise__description.birthday-collect__description
			.container
				.index-franchise__inner.birthday-collect__inner
					.index-franchise__wrapper.birthday-collect__wrapper
						h2.index-franchise__title.section__title.birthday-collect__title Собери свой праздник
						.index-franchise__paragraph.birthday-collect__paragraph
							p.index-franchise__text.birthday-collect__text Описание функции “Собери сам” и возможностей калькулятора. FUN CITY – это уникальное пространство для развлечений всей семьей! Тысячи квадратных метров впечатлений!
							p.index-franchise__text.birthday-collect__text Гостей ждет уютный ресторан с лаунж-зонами и видом на игровые площадки, европейское и паназиатское меню, барная карта и специальные предложения.
						a.birthday-collect__link.button Заказать день рождения
						+icon("icon-bow", "index-franchise__icon-bow", "62", "45")
		.index-franchise__image.birthday-collect__image
			picture.index-franchise__picture.birthday-collect__picture
				source(media="(min-width: 1440px)" srcset="static/images/content/restaurant/banquet-large.jpg")
				source(media="(min-width: 1024px)" srcset="static/images/content/restaurant/banquet-desktop.jpg")
				source(media="(min-width: 768px)" srcset="static/images/content/restaurant/banquet-tablet.jpg")
				img.index-franchise__img.birthday-collect__img(src="static/images/content/restaurant/banquet-mobile.jpg" width="360" height="800" alt="Картинка банкетного меню")
