section.birthday-gift
	.container
		.birthday-gift__content
			+icon("icon-big-cloud", "birthday-gift__cloud", "738", "348")
			+icon("icon-gift", "birthday-gift__icon", "80", "80")
			h2.birthday-gift__title.font-h4 Банкетная комната и пригласительный для соцсетей в подарок!
			p.birthday-gift__text Банкетная комната предоставляется в подарок при покупке билетов на 8 детей и заказе блюд на сумму от 5000 ₽.
