section.birthday-organization.ball-text
	.container
		.ball-text__content
			.ball-text__inner.birthday-organization__inner
				h2.font-h2.section__title.ball-text__title Организуем лучший День Рождения!
				p.ball-text__text FUN CITY – это уникальное пространство для развлечений всей семьей! Тысячи квадратных метров впечатлений!
				p.ball-text__text Гостей ждет уютный ресторан с лаунж-зонами и видом на игровые площадки, европейское и паназиатское меню, барная карта и специальные предложения.
				p.ball-text__text По соседству с рестораном огромная площадь с игровыми зонами для детей. Многоуровневые лабиринты, радужные сети, бассейн с шариками, замки с батальной зоной, корабль, батуты, специальный микромир для малышей и многое другое.
				+button-link("#", "Посмотреть меню",true).birthday-organization__link
			.ball-text__images.birthday-organization__images
				.ball-text__images-video-link
					+button-link-video("#video", "Смотреть").ball-text__video._popup-link(data-video="o0Y2rit5qEo")
				.ball-text__images-wrapper
					picture.ball-text__picture.birthday-organization__picture
						source(media="(min-width: 1440px)" srcset="static/images/content/birthday/video-large.png")
						source(media="(min-width: 1024px)" srcset="static/images/content/birthday/video-desktop.png")
						source(media="(min-width: 768px)" srcset="static/images/content/birthday/video-tablet.png")
						img.index-family__img(src="static/images/content/birthday/video-mobile.png" alt="Видео мастер-класса" width="400" height="400")
