section.birthday-banquet.birthday-services
	.container
		.birthday-banquet__content
			h2.birthday-banquet__title Дополнительные услуги
			.birthday-banquet__wrapper.swiper
				ul.birthday-banquet__list.swiper-wrapper
					li.birthday-banquet__item.swiper-slide.birthday-services__item
						.birthday-banquet__inner
							picture.birthday-banquet__picture.birthday-services__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/service-1-large.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/service-1-desktop.jpg" width="250" height="320" alt="Картинка доп услуг")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Визуальное оформление вашего праздника
								p.birthday-banquet__text.birthday-services__text Описание услуги
					li.birthday-banquet__item.swiper-slide.birthday-services__item
						.birthday-banquet__inner
							picture.birthday-banquet__picture.birthday-services__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/service-2-large.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/service-2-desktop.jpg" width="250" height="320" alt="Картинка доп услу")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Аквагрим
								p.birthday-banquet__text.birthday-services__text Описание услуги
					li.birthday-banquet__item.swiper-slide.birthday-services__item
						.birthday-banquet__inner
							picture.birthday-banquet__picture.birthday-services__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/service-3-large.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/service-3-desktop.jpg" width="250" height="320" alt="Картинка доп услу")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Фотограф для вашего праздника
								p.birthday-banquet__text.birthday-services__text Описание услуги
					li.birthday-banquet__item.swiper-slide.birthday-services__item
						.birthday-banquet__inner
							picture.birthday-banquet__picture.birthday-services__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/service-1-large.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/service-1-desktop.jpg" width="250" height="320" alt="Картинка доп услуг")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Визуальное оформление вашего праздника
								p.birthday-banquet__text.birthday-services__text Описание услуги
					li.birthday-banquet__item.swiper-slide.birthday-services__item
						.birthday-banquet__inner
							picture.birthday-banquet__picture.birthday-services__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/service-2-large.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/service-2-desktop.jpg" width="250" height="320" alt="Картинка доп услу")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Аквагрим
								p.birthday-banquet__text.birthday-services__text Описание услуги
					li.birthday-banquet__item.swiper-slide.birthday-services__item
						.birthday-banquet__inner
							picture.birthday-banquet__picture.birthday-services__picture
								source(media="(min-width: 1440px)" srcset="static/images/content/birthday/service-3-large.jpg")
								img.birthday-banquet__img(src="static/images/content/birthday/service-3-desktop.jpg" width="250" height="320" alt="Картинка доп услу")
							.birthday-banquet__box
								h3.birthday-banquet__heading.font-h4 Фотограф для вашего праздника
								p.birthday-banquet__text.birthday-services__text Описание услуги
				+slider-button("left").birthday-banquet__slider-left
				+slider-button("right").birthday-banquet__slider-right
