.section {
  &__title {
    font-family: $decor-font;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 30px 0;
    @media screen and (min-width: $tablet-size) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
