.section {
  &__title {
    font-family: $decor-font;
    margin: 0 0 30px 0;
    &--white {
      color: $white;
    }
    @media screen and (min-width: $large-size) {
      margin: 0 0 40px 0;
    }
  }
}

.font-h1 {
  font-size: 28px;
  line-height: 40px;
  @media screen and (min-width: $tablet-size) {
    font-size: 44px;
    line-height: 56px;
  }
  @media screen and (min-width: $large-size) {
    font-size: 52px;
    line-height: 80px;
  }
}

.font-h2 {
  font-size: 24px;
  line-height: 32px;
  @media screen and (min-width: $tablet-size) {
    font-size: 32px;
    line-height: 40px;
  }
  @media screen and (min-width: $large-size) {
    font-size: 44px;
    line-height: 56px;
  }
}

.font-h3 {
  font-size: 20px;
  line-height: 28px;
  @media screen and (min-width: $tablet-size) {
    font-size: 28px;
    line-height: 36px;
  }
  @media screen and (min-width: $large-size) {
    font-size: 32px;
    line-height: 40px;
  }
}

.font-h4 {
  font-size: 18px;
  line-height: 24px;
  @media screen and (min-width: $tablet-size) {
    font-size: 20px;
    line-height: 26px;
  }
  @media screen and (min-width: $large-size) {
    font-size: 24px;
    line-height: 32px;
  }
}

.font-h5 {
  font-size: 16px;
  line-height: 22px;
  @media screen and (min-width: $large-size) {
    font-size: 18px;
    line-height: 24px;
  }
}
@import 'light-gallery';
