.service-slider.service-slider--slide.swiper
	ul.service-slider__list.swiper-wrapper
		li.service-slider__item.swiper-slide
			button.service-slider__button.service-slider__button--active(type="button" data-tabs-name="_program-entertainment") Развлекательные программы
		li.service-slider__item.swiper-slide
			button.service-slider__button(type="button" data-tabs-name="_program-show") Шоу-программы
		li.service-slider__item.swiper-slide
			button.service-slider__button(type="button" data-tabs-name="_menu-cook") Кулинарный мастер-класс
	+slider-button("right")(type="button").slider-nav-button--white.service-slider__next
