.gallery-slider-modal
	.gallery-slider-modal__general.swiper
		ul.gallery-slider-modal__general-list.swiper-wrapper
			li.gallery-slider-modal__general-item.swiper-slide
				picture.gallery-slider-modal__general-picture
					img.gallery-slider-modal__general-img(src="static/images/content/popup/modal-gallery/continent-gallery-1-mobile.jpg", alt="Фото зала парка континент")
			li.gallery-slider-modal__general-item.swiper-slide
				picture.gallery-slider-modal__general-picture
					img.gallery-slider-modal__general-img(src="static/images/content/popup/modal-gallery/continent-gallery-2-mobile.jpg", alt="Фото зала парка континент")
			li.gallery-slider-modal__general-item.swiper-slide
				picture.gallery-slider-modal__general-picture
					img.gallery-slider-modal__general-img(src="static/images/content/popup/modal-gallery/continent-gallery-3-mobile.jpg", alt="Фото зала парка континент")
			li.gallery-slider-modal__general-item.swiper-slide
				picture.gallery-slider-modal__general-picture
					img.gallery-slider-modal__general-img(src="static/images/content/popup/modal-gallery/continent-gallery-4-mobile.jpg", alt="Фото зала парка континент")
	.gallery-slider-modal__thumbs.swiper
		ul.gallery-slider-modal__thumbs-list.swiper-wrapper
			li.gallery-slider-modal__thumbs-item.swiper-slide
				picture.gallery-slider-modal__thumbs-picture
					img.gallery-slider-modal__thumbs-img(src="static/images/content/popup/modal-gallery/continent-gallery-1-mobile.jpg", alt="Фото зала парка континент")
			li.gallery-slider-modal__thumbs-item.swiper-slide
				picture.gallery-slider-modal__thumbs-picture
					img.gallery-slider-modal__thumbs-img(src="static/images/content/popup/modal-gallery/continent-gallery-2-mobile.jpg", alt="Фото зала парка континент")
			li.gallery-slider-modal__thumbs-item.swiper-slide
				picture.gallery-slider-modal__thumbs-picture
					img.gallery-slider-modal__thumbs-img(src="static/images/content/popup/modal-gallery/continent-gallery-3-mobile.jpg", alt="Фото зала парка континент")
			li.gallery-slider-modal__thumbs-item.swiper-slide
				picture.gallery-slider-modal__thumbs-picture
					img.gallery-slider-modal__thumbs-img(src="static/images/content/popup/modal-gallery/continent-gallery-4-mobile.jpg", alt="Фото зала парка континент")
		//- .gallery-slider-modal__thumbs-nav.gallery-slider-modal__thumbs-nav--prev
		//- 	+icon("icon-arrow-right", "gallery-slider-modal__thumbs-icon")
		//- .gallery-slider-modal__thumbs-nav.gallery-slider-modal__thumbs-nav--next
