.more-slider-modal.swiper
	ul.more-slider-modal__list.swiper-wrapper
		li.more-slider-modal__item.swiper-slide
			picture.more-slider-modal__picture
				img.more-slider-modal__img(src="static/images/content/popup/modal-gallery/continent-gallery-1-mobile.jpg", alt="Фото зала парка континент")
			.more-slider-modal__inner
				h3.more-slider-modal__title Семейный ресторан
				p.more-slider-modal__text Описание того, какие крутые штуки есть в парках Fun City. Описания опционально, его может и не быть
		li.more-slider-modal__item.swiper-slide
			picture.more-slider-modal__picture
				img.more-slider-modal__img(src="static/images/content/popup/modal-gallery/continent-gallery-2-mobile.jpg", alt="Фото зала парка континент")
			.more-slider-modal__inner
				h3.more-slider-modal__title Веревочный парк
				p.more-slider-modal__text Описание того, какие крутые штуки есть в парках Fun City
		li.more-slider-modal__item.swiper-slide
			picture.more-slider-modal__picture
				img.more-slider-modal__img(src="static/images/content/popup/modal-gallery/continent-gallery-3-mobile.jpg", alt="Фото зала парка континент")
			.more-slider-modal__inner
				h3.more-slider-modal__title Семейный ресторан
				p.more-slider-modal__text Описание того, какие крутые штуки есть в парках Fun City. Описания опционально, его может и не быть
		li.more-slider-modal__item.swiper-slide
			picture.more-slider-modal__picture
				img.more-slider-modal__img(src="static/images/content/popup/modal-gallery/continent-gallery-4-mobile.jpg", alt="Фото зала парка континент")
			.more-slider-modal__inner
				h3.more-slider-modal__title Веревочный парк
				p.more-slider-modal__text Описание того, какие крутые штуки есть в парках Fun City
	+popup-nav-prev().more-slider-modal__nav--prev
	+popup-nav-next().more-slider-modal__nav--next
