.hero {
  &__slider {
    position: relative;
  }
  &__item {
    overflow: hidden;
    position: relative;
  }
  &__shape-bottom {
    bottom: 0;
    height: 40px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    @media screen and (min-width: $tablet-size) {
      height: 85px;
    }
    @media screen and (min-width: $desktop-size) {
      height: 113px;
    }
    @media screen and (min-width: $large-size) {
      height: 160px;
    }
  }
  &__wrapper {
    position: relative;
  }
  &__description {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 1;
    @media screen and (min-width: $tablet-size) {
      top: 60px;
    }
    @media screen and (min-width: $large-size) {
      top: 120px;
    }
  }
  &__inner {
    width: 88.89%;
    @media screen and (min-width: $tablet-size) {
      width: 47.18%;
    }
    @media screen and (min-width: $desktop-size) {
      width: 35.5%;
    }
  }
  &__title {
    font-family: $decor-font;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 20px 0;
    @media screen and (min-width: $tablet-size) {
      font-size: 32px;
      line-height: 40px;
      margin: 0 0 30px 0;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 20px 0;
    @media screen and (min-width: $tablet-size) {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 30px 0;
    }
    &--decor {
      font-family: $decor-font;
    }
  }
  &__images {
    margin: 0 0 -1px 0;
    position: relative;
    @media screen and (min-width: $tablet-size) {
      margin: 0;
    }
    @media screen and (min-width: $large-size) {
      margin: 0 0 -1px 0;
    }
  }
  &__picture {
    display: block;
    height: 550px;
    @media screen and (min-width: $desktop-size) {
      min-width: 1320px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    @media screen and (min-width: $large-size) {
      height: 820px;
      min-width: 1920px;
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  &__bullets {
    align-items: center;
    bottom: 30px;
    display: flex;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    @media screen and (min-width: $tablet-size) {
      left: 40px;
      bottom: 100px;
      transform: translateX(0);
    }
    @media screen and (min-width: $desktop-size) {
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__bullet {
    background-color: transparent;
    height: 20px;
    position: relative;
    width: 20px;
    &:not(:last-child) {
      margin: 0 8px 0 0;
    }
    &::after {
      background-color: rgba($white, .3);
      border-radius: 50%;
      content: "";
      height: 8px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
    }
    &--active {
      &::after {
        background-color: $white;
        height: 12px;
        width: 12px;
      }
    }
  }
}
