section.contacts-cooperation
	.container
		.contacts-cooperation__content
			h2.contacts-cooperation__title.font-h2 По вопросам сотрудничества
			ul.contacts-cooperation__list
				li.contacts-cooperation__item
					p.contacts-cooperation__position Территориальный управляющий в дальневосточном регионе
					.contacts-cooperation__contacts
						.contacts-cooperation__icon-box
							+icon("icon-user", "contacts-cooperation__icon", "20", "20")
						span.contacts-cooperation__value Грунин Олег Валерьевич
					.contacts-cooperation__contacts
						.contacts-cooperation__icon-box
							+icon("icon-phone", "contacts-cooperation__icon", "18", "18")
						a.contacts-cooperation__value._hover(href="tel:+79216502888") +7 (921) 650-28-88
					.contacts-cooperation__contacts
						.contacts-cooperation__icon-box
							+icon("icon-mail", "contacts-cooperation__icon", "20", "20")
						a.contacts-cooperation__value._hover(href="mailto:grunino@mail.ru") grunino@mail.ru
				li.contacts-cooperation__item
					p.contacts-cooperation__position Директор по развитию ресто-парков Fun Jump
					.contacts-cooperation__contacts
						.contacts-cooperation__icon-box
							+icon("icon-user", "contacts-cooperation__icon", "20", "20")
						span.contacts-cooperation__value Эльвира Стамбровская
					.contacts-cooperation__contacts
						.contacts-cooperation__icon-box
							+icon("icon-mail", "contacts-cooperation__icon", "20", "20")
						a.contacts-cooperation__value._hover(href="mailto:marketingfuncity@yandex.ru") marketingfuncity@yandex.ru
					p.contacts-cooperation__text Франчайзинг. Инвестирование. Поиск площадей для новых проектов
				li.contacts-cooperation__item
					p.contacts-cooperation__position Отдел маркетинговых коммуникаций
					.contacts-cooperation__contacts
						.contacts-cooperation__icon-box
							+icon("icon-user", "contacts-cooperation__icon", "20", "20")
						span.contacts-cooperation__value Грунин Олег Валерьевич
					.contacts-cooperation__contacts
						.contacts-cooperation__icon-box
							+icon("icon-mail", "contacts-cooperation__icon", "20", "20")
						a.contacts-cooperation__value._hover(href="mailto:marketinglive@funjump.ru") marketinglive@funjump.ru
					p.contacts-cooperation__text Сотрудничество, размещение рекламы
