.popup.callback-modal.popup_success-pay
	.popup__content
		.popup__body.popup__body--success
			.popup__close.popup-header-parks__close
				+icon("icon-close", "popup__close-icon", "11", "11")
			h2.popup-header-parks__title.font-h2 Оплата заказа
			p.popup__text.popup__text--success.popup__text--purple Заказ успешно оплачен
			p.popup__text.popup__text--success С вами свяжется Ваш банкетный менеджер
