.sandwich {
  align-items: center;
  background-color: $purple-color;
  box-shadow: 0 6px 0 rgba(176, 55, 151, .1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  padding: 0;
  width: 50px;
  z-index: 25;
  &._active {
    background-color: $white;
    .sandwich__line {
      background-color: $purple-color;
      &--top {
        top: 24px;
        transform: translateX(-50%) rotate(45deg);
      }
      &--middle {
        transform: translateX(-10px);
        opacity: 0;
      }
      &--bottom {
        top: 24px;
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }
  &__line {
    background-color: $white;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: all ease-out .3s;
    transform: translateX(-50%);
    width: 15px;
    &--top {
      top: 18px;
    }
    &--middle {
      top: 24px;
    }
    &--bottom {
      top: 30px;
    }
  }
}
